@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SalesWebMvc.Models.Department>
@{
    ViewData["Title"] = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    <a href = "github.com">aaa</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id = item.PrimaryKey */})
                    @Html.ActionLink("Details", "Details", new { /* id = item.PrimaryKey */})
                    @Html.ActionLink("Delete", "Delete", new { /* id = item.PrimaryKey */})
                </td>
            </tr>
        }
        
    </tbody>

</table>